.footer {
  margin-top: 270px;
    background-color: $bg;

}

.footer__inner {
  padding: 48px 133px 52px 0px;
}
.footer__info {
  display: flex;
  justify-content: space-between;

  gap: 30px;
}

.info__title {
margin-bottom: 33px;
}
.info__items {
 padding: 0px 78px 0px 0px;
  
}

.info__item-contact {
  margin-bottom: 24px;

}

.info__link-contact {
 
  margin-left: 10px;
 
}

.fa{
  animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s infinite reverse both;
}

.fa-twitter:hover, .fa-linkedin-in:hover, .fa-youtube:hover{
  
}

.footer__text {
  font-family: 'Roboto', sans-serif;
font-style: italic;
font-weight: 100;
font-size: 14px;
line-height: 16px;
color: rgb(255, 255, 255, 0.3);
max-width: 261px;
}

.about__link {
display: block;
margin-bottom: 24px;
 @extend %footer-text;

}

.fa {
 margin-right: 24px;
 font-size: 18px;
  border-color: #FFFFFF;
 color: #fff;
}
.fa-youtube{
  margin-right: 0;
}